.app {
  height: 100vh;
  display: flex;
  background-color: blueviolet;
  color: white;
}
.main {
  width: 75%;
  background-image: url(./assets/bg.jpg),
    linear-gradient(to bottom, black, blueviolet);
  display: flex;
  flex-direction: column;
}

.top {
  height: 50%;
  position: relative;
}
.timer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 1000px !important;
  position: absolute;
  bottom: 100px;
  left: 50px;
}
.bottom {
  height: 50%;
}

.trivia {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question {
  width: 80%;
  background: linear-gradient(purple, black);
  border: 2px solid white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.answer {
  width: 40%;
  padding: 10px 0px 10px 0px;
  text-align: center;
  background: linear-gradient(rgb(214, 103, 214), black);
  border: 1px solid white;
  border-radius: 10px;
  font-size: large;
  font-weight: 200px;
  margin: 0px 20px 20px 20px;
  cursor: pointer;
}
.answer:hover,
.answer.active {
  background: mediumblue;
}
.answer.correct {
  animation: correct 3s ease forwards;
}
@keyframes correct {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(rgb(214, 103, 214), black);
  }
  62%,
  100% {
    background: green;
  }
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}
@keyframes wrong {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(rgb(214, 103, 214), black);
  }
  62%,
  100% {
    background: red;
  }
}

.pyramid {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moneyList {
  list-style: none;
  width: 100%;
  padding: 20px;
}

.moneyListItem {
  display: flex;
  align-items: center;
  padding: 7px;
  border-radius: 5px;
}
.moneyListItem.active {
  background-color: aqua;
}

.moneyListItemNumber {
  font-size: 20px;
  font-weight: 100;
  width: 30%;
}
.moneyListIemAmount {
  font-size: 25px;
  font-weight: 200;
}

.endText {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.start {
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.startInput {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: rgb(14, 17, 19);
  text-align: center;
  font-size: 20px;
}
.startButton {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: rgb(6, 6, 6);
  background-color: rgb(77, 185, 38);
  font-weight: 800;
  cursor: pointer;
}
.startInput:focus{
  outline: none;
}
.startButton:hover{
  background-color: rgb(6, 155, 51);
}